.event {
    padding: 80px;
    background-color: green;

    .container {
        display: flex;
    }
    &__image {
        max-width: 360px;
    }
    &__details {
        margin-right: 40px;

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }
}